<nav class="mExtMenu">
    <div class="mExtSbMenu">
        <a href="javascript:;" class="btnExt reply">답장</a>
        <a href="javascript:;" class="btnExt forward">전달</a>
    </div>
    <div class="mExtSbMenu">
        <a href="javascript:;" class="btnExt delete">삭제</a>
    </div>
    <div class="mExtSbMenu">
        <a href="javascript:;" class="btnExt">&lt;&nbsp;이전</a>
        <a href="javascript:;" class="btnExt">다음&nbsp;&gt;</a>
    </div>
</nav>
<article class="mView">
    <header class="mViewHeader">
        <div class="mVHeaderGroup">
            <span class="mSubject"></span>
            <span class="mSendDate"></span>
        </div>
        <details class="mInfo">
            <summary>
                <span class="mTitle">보낸사람</span>
                <span class="mInfo mSender"></span>
            </summary>
            <div class="Infogroup">
                <span class="mTitle">받는사람</span>
                <span class="mInfo mTo"></span>
            </div>
        </details>
    </header>
    <section class="mViewBody"></section>
</article>